<launch>
  <node pkg="raspimouse_ros_2" name="motors" type="motors" required="true" />
  <include file="$(find raspimouse_game_controller)/launch/logicool.launch" /> 

  <node pkg="urg_node" name="urg_node" type="urg_node" required="true" >
        <param name="frame_id" value="base_link"/>
  </node>

  <arg name="map_file" default="$(find raspimouse_amcl_gamepad)/maps/ueda_room.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

  <include file="$(find raspimouse_amcl_gamepad)/launch/run_amcl.launch" />
</launch>
